@mixin box-shadow(inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075)) {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

html {
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    
    fieldset.collapsed {
      border-left-width: 1px;
      border-right-width: 1px;
      height: auto;
    }
    
    input.form-autocomplete {
      background-image: none;
    }
    
    input.form-autocomplete {
      background-image: none;
    }
    
    .autocomplete-throbber {
      background-position: 100% 2px;
      background-repeat: no-repeat;
      display: inline-block;
      height: 15px;
      margin: 2px 0 0 2px;
      width: 15px;
    }
    .autocomplete-throbber.throbbing {
      background-position: 100% -18px;
    }
  }
}
body {
  
  position: relative;
  &.admin-expanded.admin-vertical.admin-nw .navbar,
  &.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
  }
  
  &.navbar-is-fixed-top {
    padding-top: 64px;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: 64px !important;
  }
  &.toolbar {
    padding-top: 30px !important;
    .navbar-fixed-top {
      top: 30px;
    }
    &.navbar-is-fixed-top {
      padding-top: 94px !important;
    }
  }
  &.toolbar-drawer {
    padding-top: 64px !important;
    .navbar-fixed-top {
      top: 64px;
    }
    &.navbar-is-fixed-top {
      padding-top: 128px !important;
    }
  }
  
  &.admin-menu {
    .navbar-fixed-top {
      top: 29px;
    }
    &.navbar-is-fixed-top {
      padding-top: 93px !important;
    }
  }
  div#admin-toolbar {
    z-index: 1600;
  }
  
  #toolbar, #admin-menu, #admin-toolbar {
    @include box-shadow(none);
  }
  
  #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
    .dropdown li {
      line-height: normal;
    }
  }
}


.navbar {
  &.container {
    @media screen and (min-width: 768px) {
      max-width: ((720px));
    }
    @media screen and (min-width: 992px) {
      max-width: ((940px));
    }
    @media screen and (min-width: 1200px) {
      max-width: ((1200px));
    }
  }
  &.container,
  &.container-fluid {
    margin-top: 20px;
  }
  &.container > .container,
  &.container-fluid > .container-fluid {
    margin: 0;
    padding: 0;
    width: auto;
  }
}


#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
#toolbar {
  z-index: 1600;
}

.modal {
  z-index: 1620;
}
.modal-dialog {
  z-index: 1630;
}
.ctools-modal-dialog .modal-body {
  width: 100% !important;
  overflow: auto;
}
.modal-backdrop {
  z-index: 1610;
}


.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}


.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
    padding-left: 0;
  }
}


ul.secondary {
  float: left;
  @media screen and (min-width: 768px) {
    float: right;
  }
}


.page-header {
  margin-top: 0;
}


.region-sidebar-first,
.region-sidebar-second {
  .block:first-child h2.block-title {
    margin-top: 0;
  }
}


p:last-child {
  margin-bottom: 0;
}


.region-help {
  > .glyphicon {
    font-size: ceil((13px * 1.25));
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
  @media screen and (min-width: 992px) {
    float: right;
  }

  .input-group-btn {
    width: auto;
  }
}
.navbar-search .control-group {
  margin-bottom:0px;
}


ul.action-links {
  margin: 12px 0;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0 6px 0 0;
  }
  .glyphicon {
    padding-right: 0.5em;
  }
}


input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}
input.error {
  color: #a94442;
  border-color: darken(adjust-hue(#f2dede, -10), 5%);
}
fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0;
}
fieldset .panel-body {
  clear: both;
  display: inherit;
}
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
  }
}
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-actions{
  clear: both;
}
.managed-files.table {
  td:first-child {
    width: 100%;
  }
}
div.image-widget-data {
  float: none;
  overflow: hidden;
}
table.sticky-header {
  z-index: 1;
}
.resizable-textarea textarea {
  border-radius: 4px 4px 0 0;
}
.text-format-wrapper {
  
  margin-bottom: 15px;
  > .form-type-textarea,
  .filter-wrapper {
    margin-bottom: 0;
  }
}
.filter-wrapper {
  border-radius: 0 0 4px 4px;
  .panel-body {
    padding: 7px;
  }
  .form-type-select {
    min-width: 30%;
    .filter-list {
      width: 100%;
    }
  }
}
.filter-help {
  margin-top: 5px;
  text-align: center;
  @media screen and (min-width: 768px) {
    float: right;
  }
  .glyphicon {
    margin: 0 5px 0 0;
    vertical-align: text-top;
  }
}
.radio, .checkbox {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.help-block, .control-group .help-inline {
  color:  #777;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
.panel-heading {
  display: block;
}
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}


.error {
  color: #a94442;
}
div.error,
table tr.error {
  background-color: #f2dede;
  color: #a94442;
}
.form-group.error,
.form-group.has-error {
  background: none;
  label, .control-label {
    color: #a94442;
    font-weight: 600;
  }
  input, textarea, select, .uneditable-input {
    color: #555;
  }
  .help-block, .help-inline {
    color: #777;
  }
}


.nav-tabs {
  margin-bottom: 10px;
}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
.tabs--secondary {
  margin: 0 0 10px;
}


.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}


.form-type-password-confirm {
  position: relative;
  label {
    display: block;
    .label {
      float: right;
    }
  }
  .password-help {
    padding-left: 2em;
    @media (min-width: 768px) {
      border-left: 1px solid #ddd;
      left: percentage((6/12));
      margin-left: (30px  / 2);
      position: absolute;
    }
    @media (min-width: 992px) {
      left: percentage((4/12));
    }
  }
  .progress {
    background: transparent;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    @include box-shadow(none);
    height: 4px;
    margin: -5px 0px 0;
  }
  .form-type-password {
    clear: left;
  }
  .form-control-feedback {
    right: 15px;
  }
  .help-block {
    clear: both;
  }
}


ul.pagination li > a {
  &.progress-disabled {
    float: left;
  }
}


.form-autocomplete {
  .glyphicon {
    color:  #777;
    font-size: 120%;
    &.glyphicon-spin {
      color: #337ab7;
    }
  }
  .input-group-addon {
    background-color: rgb(255, 255, 255);
  }
}


.ajax-progress-bar {
  border-radius: 0 0 4px 4px;
  border: 1px solid #ccc ;
  margin: -1px 0 0;
  padding: 6px 12px;
  width: 100%;
  .progress {
    height: 8px;
    margin: 0;
  }
  .percentage,
  .message {
    color: #777;
    font-size: ceil((13px * 1.25));
    line-height: 1em;
    margin: 5px 0 0;
    padding: 0;
  }
}

.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


.tabbable {
  margin-bottom: 20px;
}
.tabs-below, .tabs-left, .tabs-right {
  > .nav-tabs {
    border-bottom: 0;
    .summary {
      color: #777;
      font-size: ceil((13px * 1.25));
    }
  }
}
.tab-pane > .panel-heading {
  display: none;
}
.tab-content > .active {
  display: block;
}


.tabs-below {
  > .nav-tabs {
    border-top: 1px solid #ddd;
    > li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        border-radius: 0 0 4px 4px;
        &:hover,
        &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}


.tabs-left,
.tabs-right {
  > .nav-tabs {
    padding-bottom: 20px;
    width: 220px;
    > li {
      float: none;
      &:focus {
        outline: 0;
      }
      > a {
        margin-right: 0;
        margin-bottom: 3px;
        &:focus {
          outline: 0;
        }
      }
    }
  }
  > .tab-content {
    border-radius: 0 4px 4px 4px;
    @include box-shadow(0 1px 1px rgba(0,0,0,.05));
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 10px 15px;
  }
}


.tabs-left {
  > .nav-tabs {
    float: left;
    margin-right: -1px;
    > li > a {
      border-radius: 4px 0 0 4px;
      &:hover,
      &:focus {
        border-color: lighten(#000, 93.5%) #ddd lighten(#000, 93.5%) lighten(#000, 93.5%);
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: #ddd transparent #ddd #ddd;
      @include box-shadow(-1px 1px 1px rgba(0,0,0,.05));
    }
  }
}


.tabs-right {
  > .nav-tabs {
    float: right;
    margin-left: -1px;
    > li > a {
      border-radius: 0 4px 4px 0;
      &:hover,
      &:focus {
        border-color: lighten(#000, 93.5%) lighten(#000, 93.5%) lighten(#000, 93.5%) #ddd;
        @include box-shadow(1px 1px 1px rgba(0,0,0,.05));
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: #ddd #ddd #ddd transparent;
    }
  }
}


th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}


.views-display-settings {
  .label {
    font-size: 100%;
    color:#666666;
  }
  .footer {
    padding:0;
    margin:4px 0 0 0;
  }
}
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 1.8em;
}


table {
  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    max-width: inherit;
  }
}


.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left:  (30px  / 2);
  padding-right: (30px  / 2);
  text-align: right;

  @media (min-width: 768px) {
    float: left;
    width: percentage((2 / 12));
  }
}


.alert a {
  font-weight: bold;
}
.alert-success {
  a, a:hover, a:focus {
    color: darken(#3c763d, 10%);
  }
}
.alert-info {
  a, a:hover, a:focus {
    color: darken(#31708f, 10%);
  }
}
.alert-warning {
  a, a:hover, a:focus {
    color: darken(#8a6d3b, 10%);
  }
}
.alert-danger {
  a, a:hover, a:focus {
    color: darken(#a94442, 10%);
  }
}


div.image-style-new,
div.image-style-new div {
  display: block;
}
div.image-style-new div.input-group {
  display: table;
}

td.module,
.table-striped>tbody>tr:nth-child(odd)>td.module,
.table>tbody>tr>td.module {
  background: #ddd;
  font-weight: 700;
}


.book-toc > .dropdown-menu {
  overflow: hidden;
  > .dropdown-header {
    white-space: nowrap;
  }
  > li:nth-child(1) > a {
    font-weight: bold;
  }
  .dropdown-menu {
    @include box-shadow(none);
    border: 0;
    display: block;
    font-size: ceil((13px * 1.25));
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
    > li {
      padding-left: 20px;
      > a {
        margin-left: -40px;
        padding-left: 60px;
      }
    }
  }
}


#features-filter .form-item.form-type-checkbox {
  padding-left: 20px;
}
fieldset.features-export-component {
  font-size: ceil((13px * 1.25));
  html.js #features-export-form &, & {
    margin: 0 0 (20px / 2);
  }
  .panel-heading {
    padding: 5px 10px;
    a.panel-title {
      font-size: ceil((13px * 1.25));
      font-weight: 500;
      margin: -5px -10px;
      padding: 5px 10px;
    }
  }
  .panel-body {
    padding: 0 10px;
  }
}
div.features-export-list {
  margin: -11px 0 10px;
  padding: 0 10px;
}

fieldset.features-export-component .component-select ,
div.features-export-list {
  .form-type-checkbox {
    line-height: 1em;
    margin: 5px 5px 5px 0 !important;
    min-height: 0;
    padding: 3px 3px 3px 25px!important;
    input[type=checkbox] {
      margin-top: 0;
    }
  }
}


body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .navbar-fixed-top {
  top: 79px;
}
body.navbar-is-fixed-top.navbar-administration .navbar-fixed-top {
  top: 39px;
}

@media (min-width: 768px) {
  body.navbar-is-fixed-top.navbar-administration.navbar-vertical.navbar-tray-open .navbar-fixed-top {
    left: 240px;
    left: 24rem;
  }
}
.navbar-administration #navbar-administration.navbar-oriented .navbar-bar{
  z-index: 1032;
}
.navbar-administration #navbar-administration .navbar-tray {
  z-index: 1031;
}
body.navbar-is-fixed-top.navbar-administration {
  padding-top: 103px!important;
}
body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open {
  padding-top: 143px!important;
}
body.navbar-tray-open.navbar-vertical.navbar-fixed {
  margin-left: 240px;
  margin-left: 24rem;
}
#navbar-administration.navbar-oriented .navbar-tray-vertical {
  width: 24rem;
}

a {
  &.icon-before .glyphicon {
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
  }
}

.btn {
  &.icon-before .glyphicon {
    margin-left: -.25em;
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
    margin-right: -.25em;
  }
}




@mixin hidden {
    display: none;
    visibility: hidden;
  }
  
  
  @media screen and (min-width: 768px) {
    .row-no-main-padding {
      section[class*="col-md-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
  
  

  a {
    font-weight: bold;
  }
  

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 10px 0;
  }
  
  h1, .h1 {
    margin-top: 0;
  }
  
  h2, .h2 {
    padding: 10px 0 0 0;
  }
  

  .num-reads {
      float: right;
      background: url('../../ReadsIco.png') no-repeat 0 0;
      padding-left: 20px;
    margin-right: 20px;
  }
  
  .num-recc {
      float: right;
      background: url('../../ReccommendIco.png') no-repeat 0 0;
      padding-left: 20px;
      margin-right: 10px;
  }
  
  em.abstract {
      font-size: 13px;
      padding-left: 15px;
      display: block;
      margin-top: 15px;
  }
  
  #share-this {
    clear: both;
    padding: 20px 0;
  }
  

  
  .header-container { 
    & > .container { position: relative; }
    &.navbar-default {
      border: none;
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
    .navbar-header {
      background-image: url('../../header-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .logo {
      width: 100%;
      max-width: 150px;
      img { width: 100%; }
    }
    .social-share-header {
      position: absolute;
      right: 0;
      top: 19px;
      right: 74px;
    }
    .navbar-toggle {
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: #fff;
    }
    .navbar-collapse { padding-top: 15px; padding-bottom: 15px;
      ul.nav {
        .leaf { border-bottom: 1px dashed #ccc; }
        .last { border: none; }
      }
    }
    .motto {
      color: #fff;
      font-style: italic;
      font-size: 13px;
      width: 100%;
      letter-spacing: 1px;
      line-height: 1.3;
    }
    .motto--mobile {
      position: absolute;
      top: 36px;
      left: 69px;
      font-size: 10px;
      max-width: 100px;
      line-height: 1;
    }
    .motto--desktop {
      position: absolute;
      top: 68px;
      left: 148px;
      max-width: 400px;
    }
  
    #block-block-4,
    .motto--desktop {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin: 0;
  
      .navbar-collapse {
        padding-top: 0;
        padding-bottom: 0;
      }
  
      #block-menu-menu-articles-sub-menu-mobile,
      #block-system-main-menu,
      .social-share-header { @include hidden; }
  
      #block-block-4 {
        display: block;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
      }
      .motto--mobile { @include hidden }
      .motto--desktop { display: inline }
  
      &.navbar-default { background-color: #fff; }
      .region-navigation {
        background-image: url('../../header-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .navbar-header {
        background-image: none;
      }
      .logo { width: auto; max-width: none; padding-left: 10px;
        img { width: auto; }
      }
    }
    @media screen and (min-width: 992px) {
      #block-block-5 .content {
        top: 77px;
        max-width: 600px;
        font-size: 14px;
      }
      .motto--desktop {
        max-width: 520px;
        padding-top: 15px;
      }
    }
  }
  
  .region-header { position: relative; 
    #quicktabs-mobile_shortcuts {
      .quicktabs-tabs.quicktabs-style-nostyle {
        min-height: 39px;
        background-color: #cae0ee;
        padding-left: 15px;
        li {
          line-height: 39px;
          padding-right: 15px;
          & a { text-decoration: none }
          &.active a { color: #ff0000; }
        }
      }
      #quicktabs-tabpage-mobile_shortcuts-1 #block-custom-search-blocks-1 {
        position: relative;
      }
    }
    #custom-search-blocks-form-1 .form-actions {
      position: absolute;
      top: 0;
      right: 0;
      input { height: 33px; }
    }
    #block-nice-menus-1 { display: none; }
    
    #block-menu-menu-articles-sub-menu { display: none; }
    
    #block-text-resize-0 {
      display: block;
      border: none;
      background: darken(#ddebf4, 5%);
      padding: 5px 10px 0;
      min-height: 39px;
      float: right;
  
      .content { float: right; }
      a { background: darken(#ddebf4, 5%); text-indent: 0; float: left; padding: 0 5px; height: auto; text-align: center;
        &#text_resize_increase,
        &#text_resize_decrease { margin: 0; }
        &#text_resize_decrease { font-size: 10px; padding-top: 8px; margin: 3px 0 0 0; }
        &#text_resize_increase { font-size: 17px; margin: 3px 0 0 0; }
        &#text_resize_reset { margin: 7px 0 0 0; }
      }
    }

    #block-block-2 { display: none; position: absolute; left: 5px; bottom: 10px;
      img { margin-left: 5px; }
    }
    @media screen and (min-width: 768px) { margin-bottom: 15px;
      #block-menu-menu-articles-sub-menu { display: block; background-color: #ddebf4;
        li { float: left; margin: 0; background: transparent;
          a { color: #263BAE; padding: 0 15px; line-height: 34px; display: inline-block; font-weight: bold;
            &:hover, &.active { background-color: #68BAEA; color: #fff; text-decoration: none; }
          }
        }
      }
      #block-custom-search-blocks-1 { position: absolute; right: 0; padding: 2px 10px;
          .form-item { float: left; margin-bottom: 0; margin-top: 2px;
            input.form-text { padding: 0 5px; width: 220px; float: left; border-radius: 0; height: 24px; }
          }
          .form-actions { float: left; clear: none; }
      }
      #block-nice-menus-1 { display: block; background-color: #287bce;
        ul.nice-menu-down li { border: 0 none; background: transparent;
          a { color: #fff; padding: 0 15px; line-height: 32px; font-weight: bold;
            &:hover, &.active { background-color: #ddebf4; color: #263BAE; text-decoration: none; }
          }
          &.menu-540 {
            a.active { background-color: #287bce !important; color: #fff !important; }
            a:hover { background-color: #ddebf4 !important; color: #263BAE !important; }
          }
        }
      }
      #block-text-resize-0 {
        display: block;
        position: absolute;
        border: none;
        background: #ddebf4;
        margin: 2px 10px;
        padding: 0;
        bottom: 0;
        right: 0;
        float: none;
        min-height: auto;
  
        .content { float: none; }
        a { background: #ddebf4; }
      }
      #block-block-2 { display: block; position: absolute; left: auto; right: 72px; bottom: 4px; }
    }
  }
  

  
  .region-sidebar-first {
    ul, ol {
      padding-left: 15px;
    }
    .read-more {
      float: right;
      font-style: italic;
    }
    h2 {
      color: #fff;
      font-size: 15px;
      background-color: #68BAEA;
      padding: 5px 10px 4px 10px;
      text-transform: uppercase;
      margin: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    h5 {
      margin: 0;
    }
    .block {
      margin-bottom: 15px;
      .content {
        padding: 10px;
        background-color: #ddebf4;
      }
    }
    #block-views-other-sidebar-views-block-1,
    #block-views-user-editors-block-1 {
      margin-bottom: 0;
    }
  
    #block-views-user-editors-block-1 {
      margin-top: -10px;
      h3 {
        margin: 0 0 5px 0;
        font-size: 16px;
        padding-top: 10px;
      }

    }
    #block-views-user-editors-block-3 {

      .views-row-last { width: 100%; }
      .view-footer { clear: left; padding-top: 15px; }
    }
    #block-views-articles-block-2 {
      .views-row { margin-bottom: 15px; }
    }
    #block-views-other-sidebar-views-block-1 {
      margin-bottom: 0;
    }
    #block-user-login {
      label {
        display: block;
      }
      .form-text {
        width: 245px;
        border: 1px solid #000;
        padding: 5px;
        margin: 5px 0;
        resize: none;
        &:hover, &:focus {
          border-color: #68BAEA;
        }
      }
      .form-submit {
        background: url('../../SubmitBtn.png') no-repeat 0 0;
        width: 73px;
        height: 23px;
        border: 0 none;
        cursor: pointer;
        float: right;
        margin-top: -32px;
        &:hover {
          background-position: 0 -30px;
        }
      }
      ul {
        margin: 5px 0;
      }
    }
    #block-views-user-editors-block-2 {
        img {
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            border: 1px solid #000;
        }
        h4 {
            margin: 0 0 5px 0;
        }
      .views-row {
        overflow: hidden;
      }
    }
  }
  

  .region-sidebar-second {
    h2 {
      color: #fff;
      font-size: 15px;
      background-color: #68BAEA;
      padding: 5px 10px 4px 10px;
      text-align: right;
      text-transform: uppercase;
      margin: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    h5 {
      margin: 0;
    }
    .block {
      margin-bottom: 15px;
      .content {
        padding: 10px;
        background-color: #ddebf4;
        .views-row {
          margin-bottom: 15px;
          .author-info {
            font-weight: bold;
            font-style: italic;
          }
        }
      }
    }
  }
  

  .footer {

    padding: 10px 0;
    text-align: center;
    background: #464646;
    .content {
      color: #cfcfcf;
      font-size: 12px;
      a { color: #cfcfcf; }
    }
  }
  

  
  .main-body {
    & > section {
      margin-bottom: 15px;
    }
  }
  

  .region-content {
    ul, ol, p, table {
      margin: 10px 0;
      line-height: 1.3;
      list-style-type: square;
    }
    ul, ol {
      padding-left: 15px;
    }
    img {
      height: auto;
      max-width: 600px;
    }
    @media screen and (min-width: 768px) {
      img {
        max-width: initial;
      }
    }
  }
  

  
  .view-display-id-block_2 .item-list ul li {
      list-style-type: square;
      margin-left: 10px;
      line-height: 1.2;

  }
  
  .view-display-id-block_2 {
      overflow: hidden;
  }
  
  .forum-info-block {
      border: 1px solid #e9e9e9;
      padding: 0 10px;
      h2 {
          margin: 0;
      }
  }
  
  .pane-node-title .pane-content {
      font-size: 21px;
      font-weight: bold;
      color: #263BAE;
      margin-top: 15px;
  }
  

  #quicktabs-homepage_main {
    ul.nav-pills, ul.nav-tabs { padding: 0 !important }
    ul.nav-tabs { margin-top: 0;
      & > li > a { padding: 5px 10px; }
      @media screen and (min-width: 768px) {
        & > li > a { padding: 10px 15px; }
      }
    }
  }
  
  .view-id-articles h3 {
    font-size: 14px;
  }
  
  .article-row {
    border: 1px solid #000-lighter;
    margin-bottom: 15px;
    padding: 10px;
    overflow: hidden;
    clear: both;
    .read-more {
      float: right;
      font-style: italic;
      margin-top: -10px;
    }
    .num-reads {
      float: right;
    }
    .num-recc {
      float: right;
      @include hidden;
    }
    .author-info {

      padding-bottom: 5px;
    }
    .body {
      clear: both;

    }
    h3 {
      margin-top: 0;
    }
  }
  
  .front #block-system-main .article-row h3 {
    font-size: 19px;
  }
  

  .node-type-article .article-spec {
    p { font-size: 14px; }
    img { max-width: 100%; height: auto; }
    .page-header { font-size: 30px; }
    .author-info {
      font-weight: bold;
      font-style: italic;
      padding-bottom: 10px;
    }
    .author-info span {
      font-weight: normal;
    }
    .article-file {
      background: url('../../DownloadIco.png') no-repeat 0 0;
      padding-left: 20px;
      margin: 15px 0;
      img { display: none; visibility: hidden; }
    }
  }
  
  .not-logged-in.node-type-article #custom-comment {
      display: none;
  }
  

  .author-land {
      .views-summary { clear: both;	overflow: hidden; padding: 0;
          li {
              margin-left: 0 !important;
              list-style-type: none !important;
              float: left;
              width: 15px;
              text-align: center;
          }
      }
      .views-limit-grouping-group {
          border: 1px solid #e9e9e9;
          margin-bottom: 15px;
          padding: 10px;
          overflow: hidden;
          position: relative;
          &:nth-child(2n) {
              margin-right: 0;
          }
          h3 {
              margin-top: 0;
          }

          .view-footer {
              position: absolute;
              top: 0;

              right: 10px;
              a {
                  font-style: italic;
              }
          }
      }
  }
  

  
  .article-date {
      .views-summary {
      padding: 0;
          clear: both;
          overflow: hidden;
          li {
              margin-left: 0 !important;
              list-style-type: none !important;
              float: left;
              width: 40px;
              text-align: left;
          }
      }
      .views-limit-grouping-group {
          border: 1px solid #e9e9e9;
          margin-bottom: 15px;
          padding: 10px;
          overflow: hidden;
          position: relative;
          h3 {
              margin-top: 0;
          }
          .view-authors {
              height: 130px;
          }
          .view-footer {
              position: absolute;
              bottom: 0;
              right: 0;
              a {
                  font-style: italic;
              }
          }
      }
  }
  

  
  .personal-info {
      img {
      width: 74px;
          float: left;
          margin-right: 15px;
          margin-bottom: 15px;
          border: 1px solid #e9e9e9;
      }
  }
  
  #author-articles {
      clear: left;
      .pane-content {
          border: 1px solid #e9e9e9;
          margin-bottom: 15px;
          margin-top: 15px;
          padding: 10px;
          overflow: hidden;
          position: relative;
          h3 {
              margin: 0;
          }
      .item-list ul {
        padding: 0 0 0 20px;
      }
          .more-link {
              /* float: right; */
              font-style: italic;
              position: absolute;
              top: 0;
              right: 0;
              margin: 8px 10px 0 0;
          }
      }
  }
  
  /* FAQs */
  
  .faq-row {
      border: 1px solid #e9e9e9;
      margin-bottom: 15px;
      margin-top: 15px;
      padding: 10px;
      overflow: hidden;
      position: relative;
      .views-accordion-header {
          border: 0 none;
          background: none;
          font-size: 16px;
          font-weight: bold;
          padding: 0;
          margin: 0;
      }
  }
  
  .ui-accordion-content {
      border: 0 none;
      background: none;
  }
  .ui-accordion .ui-accordion-content {
      padding: 1em 20px;
      margin: 0;
  }
  .ui-accordion .ui-accordion-header a {
      padding: 0;
      padding-left: 20px;
  }
  .ui-accordion-icons .ui-accordion-header a {
      padding: 0;
      padding-left: 20px;
  }
  
  .ui-accordion .ui-accordion-header .ui-icon {
      left: 0;
  }
  

  
  .contact-row {
      border: 1px solid #e9e9e9;
      margin-bottom: 15px;
      padding: 10px;
      overflow: hidden;
      position: relative;
      h3 {
          margin-top: 0;
      }
      img {
      width: 27%;
          float: left;
          margin-right: 15px;
          border: 1px solid #e9e9e9;
      }
    @media screen and (min-width: 992px) {
      img {
        width: auto;
      }
    }
  }
  

  .pane-node-comments {
      h3 {
          margin-top: 0;
      }
      ul {
          margin: 0;
      padding: 20px 0 0;
      }
      .comment {
          border: 1px solid #e9e9e9;
          clear: both;
          margin: 10px 0;
          overflow: hidden;
          padding: 10px;
      }
      .indented {
          margin-left: 10px;
      }
  }
  
  
  .front h1.page-header {
    @include hidden;
  }
  